@use "../utils/" as u;

@include u.breakpoint("tablet") {
   .article {
      flex-direction: row;
      align-items: center;
      overflow: unset;
      gap: 0;
      max-width: 53.5rem;

      &__image {
         border-top-left-radius: 1rem;
         border-bottom-left-radius: 1rem;
         width: 21rem;
         height: 21rem;
      }

      &__content {
         padding-block: var(--spacing-md-2);
      }

      &__title {
         font-size: 1.6rem;
      }

      &__share-menu {
         top: -5.5rem;
         right: 3.7rem;

         border-radius: 1rem;

         height: fit-content;
         width: fit-content;
         padding: var(--spacing-md-2) var(--spacing-lg-2);

         transform: translateY(0) translateX(50%);

         &::before {
            content: "";
            position: absolute;
            top: 1.5rem;
            left: 50%;
            z-index: -1;

            height: 3.076rem;
            width: 3.076rem;
            min-height: 35px;
            min-width: 35px;

            background-color: var(--color-primary-1);
            transform: translateX(-50%) rotate(45deg);
         }
      }
   }
}
